/3. Sockets/SenderApp/nbproject/private/
/3. Sockets/SenderApp/dist/
/3. Sockets/SenderApp/build/
/3. Sockets/test/nbproject/private/
/3. Sockets/test/build/
/3. Sockets/ReceiverApp/nbproject/private/
/3. Sockets/ReceiverApp/build/
/3. Sockets/ReceiverApp/dist/
/3. Sockets/XMLFileCatalogManager/nbproject/private/
/4. XMLFileCatalogManager/dist/
/4. XMLFileCatalogManager/build/
/3. Sockets/JavaApplication3/nbproject/private/
/5. prisonDBApp/target/
/6. ImgConverter/target/